#content {
float: left;
width: calc(100% - 300px);
margin-top: 40px;
padding: 0 20px;
box-sizing: border-box;
}

#content h1{
    margin: 0;
    font-size: 30px;
    color: var(--primary-color-dark);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px var(--primary-color);
    padding-bottom: 20px;

}

#content article{
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
    border: var(--primary-color) 1px solid;
    box-shadow: 2px 2px 5px var(--primary-color);
}

#content article h2{
    margin: 0;
    color: var(--secondary-color-dark);
    text-transform: uppercase;
    font-size: 15x;
    text-shadow: 2px 2px 3px var(--primary-color);
}

.readmore{
    float: right;
    font-size: 20px;
}

.pagination{
    float: right;
    padding-bottom: 20px;
}

.pagination li{
    display: inline-block;
}

.pagination li a{
    padding: 5px 10px;
    background-color: white;
    border: solid 1px var(--primary-color);
}
.pagination li a:hover{
    background-color: white;
    color: var(--primary-color-dark);
    border: solid 1px var(--primary-color-dark);
}

@media (max-width:700px){
    #content{
        width: 100%;
    }
}