<asaid>

    <div class="widget">
        <h3>Iniciar sesión</h3>
        <form>
            <input type="Email" name="Email" placeholder="Email">
            <input type="Password" name="Password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>

    <div class="widget">
        <h3>Ultimas entradas</h3>
        <ul>
            <li>
                <a href="https://www.xataka.com/otros/sindrome-vivir-miedo-a-convertirte-programador-oxidado-1" target="blank">El síndrome de vivir con miedo a convertirte en un programador oxidado</a>
            </li>
            <li>
                <a href="https://blog.bricogeek.com/noticias/programacion/deteccion-de-caras-y-expresiones-en-tiempo-real-con-javascript/" target="blank">Detección de caras y expresiones en tiempo real con JavaScript</a>
            </li>
            <li>
                <a href="https://www.ma-no.org/es/programacion/como-convertirte-en-un-desarrollador-web-actual" target="blank">Cómo convertirte en un desarrollador web actual</html></a>
            </li>
            <li>
                <a href="https://www.xataka.com/otros/te-enseno-a-programar-me-das-15-tu-salario-cuando-trabajes-asi-funciona-microverse" target="blank">Te enseño a programar si me das el 15% de tu salario cuando trabajes: así funciona Microverse</a>
            </li>
            <li>
                <a href="https://computerhoy.com/noticias/tecnologia/lenguaje-programacion-mas-popular-google-2020-584657" target="blank">Este es el lenguaje de programación por el que va a apostar Google en 2020</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Frase del día</h3>
        <blockquote>
            El secreto no está en crear la novedad si no en mejorar la actualidad
        </blockquote>
    </div>

</asaid>