<section id="content">
    <h1>Ultimas Noticias</h1>
    <article>
        <h2>El síndrome de vivir con miedo a convertirte en un programador oxidado</h2>
        <p>Según The Language List, desde 1991 ha habido 2.500 lenguajes de programación, aunque en la actualidad podríamos reducirlos a 258 según el TIOBE Index (que se actualiza cada mes). <strong>Articulo de <a href="https://www.xataka.com/">Xataka</a>.</strong></p>
        <a class= "readmore" href="https://www.xataka.com/otros/sindrome-vivir-miedo-a-convertirte-programador-oxidado-1" target="blank">Leer más >></a>
    </article>
    <article>
        <h2>Detección de caras y expresiones en tiempo real con JavaScript</h2>
        <p>La detección de caras está a la orden del día y tiene multitud de aplicaciones. Se puede implementar una detección de caras fácilmente con JavaScript en pocas líneas de código utilizando la librería FaceAPI basada en Tensorflow.  <strong>Articulo de <a href="https://blog.bricogeek.com/">Brico Geek</a>.</strong></p>
        <a class= "readmore" href="https://blog.bricogeek.com/noticias/programacion/deteccion-de-caras-y-expresiones-en-tiempo-real-con-javascript/" target="blank">Leer más >></a>
    </article>
    <article>
        <h2>Cómo convertirte en un desarrollador web actual</h2>
        <p>Hay un montón de tutoriales en línea completamente gratis. Si eres lo suficientemente autodirigido e interesado, no tienes ninguna dificultad para entrenarte a ti mismo. El punto para aprender a codificar creo que es leer mucho código de otros desarrolladores, luego escribir código y probar para ver qué produce, cuál es el error que experimentas.  <strong>Articulo de <a href="https://www.ma-no.org/">Ma-no</a>.</strong></p>
        <a class= "readmore" href="https://www.ma-no.org/es/programacion/como-convertirte-en-un-desarrollador-web-actual" target="blank">Leer más >></a>
    </article>
    <article>
        <h2>Te enseño a programar si me das el 15% de tu salario cuando trabajes: así funciona Microverse</h2>
        <p>En los países en vías de desarrollo muchas personas no tienen acceso a la formación que les permita aspirar a muchos de los puestos que las grandes tecnológicas no logran cubrir. Eso, unido al convencimiento de que el trabajo (especialmente de programador) será cada vez más remoto, llevó a Ariel Camus a fundar Microverse. Una empresa que promete a sus alumnos que no pagarán nada por su formación hasta que consigan un puesto de trabajo de 1.000 dólares al mes como mínimo. <strong>Articulo de <a href="https://www.xataka.com/">Xataka</a>.</strong></p>
        <a class= "readmore" href="https://www.xataka.com/otros/te-enseno-a-programar-me-das-15-tu-salario-cuando-trabajes-asi-funciona-microverse" target="blank">Leer más >></a>
    </article>
    <article>
        <h2>Este es el lenguaje de programación por el que va a apostar Google en 2020</h2>
        <p>La programación es un trabajo de presente, pero sobre todo de futuro. Cada vez se necesitan más programadores, y mejor formados, para afrontar el desarrollo tanto de los dispositivos tecnológicos que estábamos acostumbrados a ver como de coches y cualquier dispositivo IoT. Hay muchos lenguajes de programación, y Google apuesta por Python. <strong>Articulo de <a href="https://computerhoy.com/">Computer Hoy</a>.</strong></p>
        <a class= "readmore" href="https://computerhoy.com/noticias/tecnologia/lenguaje-programacion-mas-popular-google-2020-584657" target="blank">Leer más >></a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">6</a></li>
    </ul>

</section>